<template>
  <div class="content limited m-t-7 m-b-7">
    <div class="typography md">
      <h1>Filters</h1>
      <p class="todo">Add documentation regarding filtering</p>
    </div>
  </div>
</template>
