.nav-sidebar {
  position: fixed;
  z-index: $z-nav-sidebar;
  background-color: $white;
  border-right: 1px solid $border-color;
  width: $nav-sidebar-width;
  height: 100%;
  left: 0;
  top: 0;
  overflow-y: auto;

  .nav-sidebar__header {
    border-bottom: $border-width solid $border-color;
  }

  .nav-sidebar__header-anchor {
    display: flex;
    align-items: center;
    color: $text-color;
    font-weight: $font-weight--bold;
    padding: $gl-spacing-5;

    &:hover {
      background-color: $black-o-06;
      text-decoration: none;
    }
  }

  .nav-sidebar__section {
    .nav-sidebar__section-summary {
      cursor: pointer;
      padding: $gl-spacing-3 $gl-spacing-5;
      font-weight: $font-weight--bold;

      &:hover {
        background-color: $black-o-06;
      }

      a {
        display: flex;
        color: $gray-900;
      }
    }

    .nav-sidebar__section-items {
      @include unstyled-list;
    }
  }

  .nav-sidebar__section-items-anchor {
    display: flex;
    color: $gray-900;
    padding: $gl-spacing-3 $gl-spacing-8;

    &.nuxt-link-active {
      box-shadow: inset ($border-width * 4) 0 0 $gray-700;
      background: $black-o-04;
    }

    &:hover {
      background-color: $black-o-06;
      text-decoration: none;
    }
  }
}

// Hides summary arrow //
details > summary:first-of-type {
  list-style-type: none;
}

// Hides summary arrow on chrome //
summary {
  &::-webkit-details-marker {
    display: none;
  }
}
