<template>
  <div class="content limited m-t-7 m-b-7">
    <div class="component md">
      <h1>Design resources</h1>
      <h2>Design project</h2>
      <p>All design files are stored in the <a href="https://gitlab.com/gitlab-org/gitlab-design">GitLab Design</a> project and maintained by GitLab UX designers. The repository contains GitLab’s open source pattern library, prototypes, and work-in-progress files.</p>
      <h3>Goals</h3>
      <ul>
        <li>Jumpstart design work by using the pattern library and existing working files</li>
        <li>Enable frequent, stable, and consistent contributions</li>
        <li>Make GitLab’s design open, transparent, and open source</li>
        <li>Facilitate design handoffs and design–development communication design handoffs.</li>
      </ul>
      <p>The project is primarily used by GitLab’s UX Design department to host design files and hand them off for implementation. To learn about the best practices to manage the project, including the repository’s organization, check out the <a href="https://gitlab.com/gitlab-org/gitlab-design/blob/master/CONTRIBUTING.md">contribution guidelines</a>.</p>
      <h3>Links</h3>
      <p>For more information about the UX Design department, check out the following links.</p>
      <ul>
        <li><a href="https://about.gitlab.com/handbook/engineering/ux/">UX Handbook</a></li>
        <li><a href="https://gitlab.com/gitlab-org/design.gitlab.com">GitLab Design System project</a></li>
        <li><a href="https://docs.gitlab.com/ce/development/ux_guide/">UX Guide <strong>(deprecated)</strong></a></li>
        <li><a href="https://dribbble.com/gitlab">GitLab Dribbble</a></li>
      </ul>
      <h2>GitLab SVG project</h2>
      <p>All GitLab SVG assets (icons and illustrations) are managed in the <a href="https://gitlab.com/gitlab-org/gitlab-svgs">GitLab SVG</a> project. This project automates creating an SVG sprite out of icons and optimizing SVG based illustrations.</p>
      <p>We built an <a href="http://gitlab-org.gitlab.io/gitlab-svgs/">online viewer</a> of our GitLab SVGs that allows exploring and searching our icon library.</p>
      <h2>GitLab First Look</h2>
      <p>Here at GitLab, we regularly conduct user research to improve our product. You can help shape the future of GitLab. We want your feedback on how we can continue to improve GitLab. By joining GitLab First Look, you’ll be the first to see new features and your thoughts will drive product improvements for a better user experience.</p>
      <p><a href="https://about.gitlab.com/community/gitlab-first-look/index.html">Join or learn more about GitLab First Look</a></p>
    </div>
  </div>
</template>
